@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC&display=swap');
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(41, 61, 55);
}
.container{
    margin: 2% 10% 10% 17%;
    width: 70%;
    background-color: white;
    border-radius: 20px;
    padding: 0;
}
#heading{
    padding: 2%;
    border-radius: 15px 15px 0 0;
    background-color: rgb(243, 168, 106);
    font-family: 'IM Fell Great Primer SC', serif;
}
#inputs{
    padding: 2%;
    justify-items: center;
}

.form-group{
    align-items: center;
    padding: 0 35% 0 35%;
}
form{
    text-align: center;
}
.range{
    margin: 5% 0 5% 0;
    width: 50%;
}
.range input{
   padding: 5px;
}
.button{
    text-align: center;
}
.btn{
    width: 50%;
}
#result{
padding: 4% 0 7% 5%;
}
@media only screen and (max-width: 520px) {
    .smiley {
        display: none;
      }
    }